#include "..\MrMessage\Resource.H"

DLGTEMPLATE MRM_LoginWindow 
BEGIN
	DIALOG "Create a Mr. Message Session", 100, 14, 34, 209, 129, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST
	BEGIN
		CONTROL "~Screen Name", 500, 6, 113, 93, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_EN_ScreenName, 101, 113, 101, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Password", 501, 6, 95, 93, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_EN_Password, 101, 95, 101, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Create Session", DID_OK, 6, 4, 94, 16, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Ca~ncel", DID_CANCEL, 109, 4, 94, 16, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Server ~Name", 101, 6, 70, 90, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_EN_ServerName, 101, 70, 101, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Server P~ort", 103, 6, 52, 90, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_EN_ServerPort, 101, 52, 101, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Account already exists on server", MRM_CB_AccountExists, 20, 30, 159, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_SettingsWindow 
BEGIN
	DIALOG "Mr. Message Settings...", 100, 14, -35, 243, 198, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINMAX
	BEGIN
		CONTROL "~Settings apply to:", 500, 6, 183, 84, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_LB_SettingsScope, 95, 157, 143, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Event:", 501, 6, 165, 90, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_LB_EventType, 6, 84, 90, 78, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Play sound...", MRM_CB_EventPlaySound, 106, 151, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", MRM_EN_EventPlaySoundFile, 116, 139, 122, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Run ~REXX...", MRM_CB_EventRunREXX, 106, 125, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", MRM_EN_EventRunREXXScript, 116, 113, 122, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Run ~command...", MRM_CB_EventRun, 106, 99, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", MRM_EN_EventRunCommand, 116, 87, 122, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "~Automatically start this session", MRM_CB_SessionAutoStart, 6, 63, 231, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Minimize Session Manager on session start", MRM_CB_AutoMinimize, 6, 51, 231, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Show ~time stamps in messages", MRM_CB_EnableTimestamps, 6, 39, 232, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Report ~when you are typing to buddies", MRM_CB_TypingNotify, 6, 27, 232, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Use Global", MRM_PB_UseGlobal, 4, 5, 113, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Ok", DID_OK, 125, 5, 113, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_SingleEntryWindow
BEGIN
	DIALOG "", 100, 14, 97, 209, 66, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINMAX
	BEGIN
		CONTROL "Dummy static window text", MRM_ST_SingleEntryLabel, 6, 40, 197, 20, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_EN_SingleEntryField, 6, 24, 196, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Ok", DID_OK, 4, 3, 92, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Cancel", DID_CANCEL, 111, 3, 92, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_AboutBox 
BEGIN
	DIALOG "About Mr. Message for OS/2", 100, 14, 41, 242, 158, FS_DLGBORDER, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINMAX
	BEGIN
		CONTROL "Mr. Message for OS/2", 101, 4, 133, 233, 19, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "24.Times New Roman"

		CONTROL __DATE__, 102, 3, 123, 236, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"

		CONTROL "Mr. Message is a 100% OS/2 native instant messenger client for AOL and ICQ networks.  It was created using OpenWatcom, Aaron Lawrence's Rich Text Viewer widget (from NewView), and the AIM documentation assembled by Alexandr Shutko.", 103, 7, 71, 227, 44, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Send comments and bug reports to Marty Amodeo (martyamodeo@comcast.net).  Please read the ReadMe.OS2 file included in the archive before reporting a problem.", 104, 5, 26, 231, 39, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		CONTROL "~Close", DID_CANCEL, 5, 6, 231, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_MessageChooser 
BEGIN
	DIALOG "Create or select your profile message...", 100, 14, 26, 249, 181, NOT FS_DLGBORDER | FS_SIZEBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL "", MRM_LB_RecentlyUsedMsgs, 5, 104, 238, 61, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Recently used messages:", 102, 6, 167, 238, 10, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Edit message text:", 103, 5, 89, 238, 11, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_ML_MessageEditor, 5, 21, 238, 65, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_HSCROLL | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Add", MRM_PB_AddMessage, 4, 3, 46, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		CONTROL "Re~move", MRM_PB_RemoveMessage, 52, 3, 46, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		CONTROL "~Modify", MRM_PB_EditMessage, 100, 3, 46, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		CONTROL "~Cancel", DID_CANCEL, 148, 3, 46, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Select", DID_OK, 196, 3, 46, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_Progress 
BEGIN
	DIALOG "Login progress...", 100, 14, 124, 209, 39, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL "", MRM_SL_ProgressPercent, 7, 5, 195, 14, "MrMessage Percent Bar", WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Logging in...", MRM_ST_LoginStep, 7, 21, 196, 13, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "12.Helv Bold Italic"
	END
END

DLGTEMPLATE MRM_AudioDeviceSelection 
BEGIN
	DIALOG "Select your preferred audio devices...", 100, 14, 61, 209, 102, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
	BEGIN
		CONTROL "~Waveform audio device to use:", 101, 6, 87, 195, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_LB_WaveAudioDevice, 5, 43, 198, 36, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~MIDI sequencer device to use:", 103, 6, 48, 195, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", MRM_LB_MIDIDevice, 5, 4, 198, 36, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Ok", DID_OK, 5, 5, 95, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Cancel", DID_CANCEL, 108, 5, 95, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END
END

DLGTEMPLATE MRM_AudioVolumeControl
BEGIN
	DIALOG "Volume", 100, 188, 89, 74, 64, FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINMAX
	BEGIN
		CONTROL "", MRM_CS_VolumeKnob, 4, 4, 66, 54, WC_CIRCULARSLIDER, WS_VISIBLE | CSS_MIDPOINT | CSS_NOTEXT | CSS_POINTSELECT | CSS_PROPORTIONALTICKS
	END
END

MENU MRM_SessionManagerMenu 
BEGIN
	SUBMENU "~Session", 100
	BEGIN
		MENUITEM "~Start", MRM_StartSession
		MENUITEM "Settin~gs...", MRM_SessionSettings
		MENUITEM SEPARATOR
		MENUITEM "~Create...", MRM_CreateSession
		MENUITEM "~Edit selected...", MRM_EditSession
		MENUITEM "~Delete selected", MRM_DeleteSession
		MENUITEM SEPARATOR
		MENUITEM "Se~lect All", MRM_SelectAll
		MENUITEM "De-selec~t All", MRM_DeselectAll
		MENUITEM SEPARATOR
		MENUITEM "~Exit all", MRM_ExitAll
	END

	SUBMENU "~Global", 200
	BEGIN
		MENUITEM "~Settings...", MRM_GlobalSettings
//		MENUITEM "Audio ~devices...", MRM_AudioDevices
		MENUITEM "~Volume control...", MRM_AudioVolume
		MENUITEM "~About...", MRM_About
	END
END

MENU MRM_SessionManagerPopup 
BEGIN
	MENUITEM "~Start", MRM_StartSession
	MENUITEM "~Edit", MRM_EditSession
	MENUITEM "~Delete", MRM_DeleteSession
	MENUITEM SEPARATOR
	MENUITEM "Se~ttings", MRM_SessionSettings
END

MENU MRM_SessionManagerBackPopup 
BEGIN
	MENUITEM "~Create Session...", MRM_CreateSession
	MENUITEM SEPARATOR
	MENUITEM "~Select All", MRM_SelectAll
	MENUITEM "~Deselect All", MRM_DeselectAll
	MENUITEM SEPARATOR
	MENUITEM "~Global Settings...", MRM_GlobalSettings
//	MENUITEM "~Audio devices...", MRM_AudioDevices
// Not implemented yet.
	MENUITEM "~Volume control...", MRM_AudioVolume
	MENUITEM SEPARATOR
	MENUITEM "~Exit and Close All", MRM_ExitAll
END

MENU MRM_BuddyPopup 
BEGIN
	MENUITEM "~Send Message...", MRM_SendMessage
	MENUITEM "Refresh ~Profile/Away Message", MRM_ProfileRefresh
	MENUITEM SEPARATOR
	MENUITEM "Set ~Alias...", MRM_SetAlias
	MENUITEM "~Remove Buddy", MRM_RemoveBuddy
END

MENU MRM_BuddyListPopup 
BEGIN
	MENUITEM "~Refresh All", MRM_ProfileRefresh
	MENUITEM "~Session Settings...", MRM_SessionSettings
	MENUITEM "Toggle \"A~way\" Status", MRM_SessionStatus
	MENUITEM "Set Away ~Message...", MRM_AwayMessage
	MENUITEM "Set ~Profile...", MRM_SessionProfile
	MENUITEM SEPARATOR
	MENUITEM "~Add Buddy to Buddy List...", MRM_NewBuddy
  MENUITEM "~End Session", DID_CANCEL
END

POINTER 1  "niceaim.ico"
POINTER 2  "Folder.ico"
POINTER 3  "aimlogo.ico"
POINTER 4  "aimlogo_greyed.ico"
POINTER 5  "unplugged.ico"
POINTER 6  "aimlogo_hot.ico"
POINTER 8  "niceaim_away.ico"
POINTER 9  "aimlogo_crossout.ico"
POINTER 10 "aimlogo_greyed_crossout.ico"
POINTER 11 "unplugged_crossout.ico"
POINTER 12 "writing.ico"
POINTER 13 "paper.ico"

BITMAP 1 "MrMessage.bmp"

